PowerAutomate/TaskReminder/JSON/FlowDefinition.json
{"name":"4962f935-55a5-429c-aa1f-b8a53fe03e05","id":"/providers/Microsoft.Flow/flows/4962f935-55a5-429c-aa1f-b8a53fe03e05","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Recurrence -> List rows present in a table,Filter array,Apply to ea...","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"5f9a690e-f918-4ff5-812d-a0b8201f6b86","type":"User","tenantId":"d181b309-3740-424c-933d-076a442de502"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-02-07T17:39:53.2064265Z","connectionKeySavedTimeKey":"2025-02-07T17:39:53.2064265Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"timeZone":"Central America Standard Time","schedule":{"hours":["8"]}},"metadata":{"operationMetadataId":"f8d0ed04-ab96-4d0b-b732-ff6592a8b829"},"type":"Recurrence"}},"actions":{"List_rows_present_in_a_table":{"runAfter":{},"metadata":{"01JR7J4GSRGXLPLPFVMJAJHNS5AKM3PZEW":"/TaskList.xlsx","operationMetadataId":"bd9ff9eb-8569-4ae4-850e-e233960f58e2","tableId":"{7DBC1B1A-94C9-4370-B521-34621932B33C}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!Su3VkrMR90q4QnEpBrljx--OrMVMaWlPnziq40jFxFwT6T1gJse8TbkpJ6MAhxTP","file":"01JR7J4GSRGXLPLPFVMJAJHNS5AKM3PZEW","table":"{7DBC1B1A-94C9-4370-B521-34621932B33C}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"Filter_array":{"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"metadata":{"operationMetadataId":"0d80a01f-c9a1-4909-bec5-f31c716e6ae1"},"type":"Query","inputs":{"from":"@outputs('List_rows_present_in_a_table')?['body/value']","where":"@equals(formatDateTime(item()?['DueDate'], 'yyyy-MM-dd'),formatDateTime(addDays(utcNow(),3),'yyyy-MM-dd'))"}},"Apply_to_each":{"foreach":"@body('Filter_array')","actions":{"Apply_to_each_2":{"foreach":"@outputs('List_rows_present_in_a_table')?['body/value']","actions":{"Send_an_email_(V2)":{"metadata":{"operationMetadataId":"730927ac-5460-4a0d-af1f-086701724958"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@items('Apply_to_each_2')?['AssignedTo']","emailMessage/Subject":"Reminder: Your task is due soon!","emailMessage/Body":"<p>Hi, &nbsp;<br>\n<br>\nThis is a reminder that your task **@{items('Apply_to_each')?['Task']}** is due on **@{items('Apply_to_each')?['DueDate']}**.<br>\n<br>\nPlease complete it before the deadline. &nbsp;<br>\n<br>\nRegards, &nbsp;<br>\n<br>\nTeam &nbsp;<br>\n</p>","emailMessage/From":"mochinchilla@hunterwarfield.com","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"095b82e1-bfe4-42a3-98fa-5e29d29f897f"},"type":"Foreach"}},"runAfter":{"Filter_array":["Succeeded"]},"metadata":{"operationMetadataId":"82891d9a-42ae-4599-adbc-8a38ae57d524"},"type":"Foreach"}},"outputs":{}},"connectionReferences":{"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-706ae0ff-db13-488b-af2c-9d4055f5ae12","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified","apiName":"excelonlinebusiness"},"shared_office365":{"connectionName":"shared-office365-f1d6008f-4bc5-4c36-b1aa-d47c8c683d26","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365"}},"flowFailureAlertSubscribed":false,"isManaged":false}}