PowerAutomate/QualityControlEvaluations/JSON/FlowDefinition.json
{"name":"6ab74516-285b-4b30-bdb2-cb61026fc083","id":"/providers/Microsoft.Flow/flows/6ab74516-285b-4b30-bdb2-cb61026fc083","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"VODQC Accuracy Feedback Email Automation","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":"","creator":{"id":"5f9a690e-f918-4ff5-812d-a0b8201f6b86","type":"User","tenantId":"d181b309-3740-424c-933d-076a442de502"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-01-20T13:35:31.9362747Z","connectionKeySavedTimeKey":"2025-01-20T12:52:33.1658636Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_item_is_created_or_modified":{"recurrence":{"interval":5,"frequency":"Minute"},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"c73eff24-ecc2-476f-9e1d-186ee2cf154e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnUpdatedItems"},"parameters":{"dataset":"https://hunterwar.sharepoint.com/sites/SharedServices/ssqc","table":"0e4b1bdb-edeb-488d-93ce-c9f438bda6fc"},"authentication":"@parameters('$authentication')"}}},"actions":{"Condition":{"actions":{"Get_attachments":{"runAfter":{},"metadata":{"operationMetadataId":"17d89ee5-05b0-4071-9ec6-5d733466c917"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItemAttachments"},"parameters":{"dataset":"https://hunterwar.sharepoint.com/sites/SharedServices/ssqc","table":"0e4b1bdb-edeb-488d-93ce-c9f438bda6fc","itemId":"@triggerBody()?['ID']"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@body('Get_attachments')","actions":{"Get_attachment_content":{"runAfter":{},"metadata":{"operationMetadataId":"e2bbc34a-58de-43e2-90f0-b0f4d3e6fbec"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetAttachmentContent"},"parameters":{"dataset":"https://hunterwar.sharepoint.com/sites/SharedServices/ssqc","table":"0e4b1bdb-edeb-488d-93ce-c9f438bda6fc","itemId":"@triggerBody()?['ID']","attachmentId":"@items('Apply_to_each')?['Id']"},"authentication":"@parameters('$authentication')"}},"Append_to_array_variable":{"runAfter":{"Get_attachment_content":["Succeeded"]},"metadata":{"operationMetadataId":"8bfb7a20-2a9a-4222-abbe-7989851d43c5"},"type":"AppendToArrayVariable","inputs":{"name":"Attachments","value":{"Name":"@item()?['DisplayName']","ContentBytes":"@body('Get_attachment_content')"}}}},"runAfter":{"Get_attachments":["Succeeded"]},"metadata":{"operationMetadataId":"c1e907de-1bc2-46b2-80af-f7e7f403922b"},"type":"Foreach"},"Send_an_email_(V2)":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"operationMetadataId":"0a80760c-1594-413f-a854-aa16f4837ccf"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@triggerOutputs()?['body/DM9_x0020_User_x003a_Email_x0020/Value']","emailMessage/Subject":"@{triggerOutputs()?['body/Title']} - Feedback","emailMessage/Body":"<p>Hello,<br>\n<br>\nDuring the Accuracy audit, I noticed that @{triggerOutputs()?['body/Feedback_x003a_']}<br>\n<br>\nPlease make sure to apply the feedback provided and make the corrections needed.<br>\n<br>\nRegards,<br>\n<br>\n</p>","emailMessage/From":"cretana@hunterwarfield.com","emailMessage/Attachments":"@variables('Attachments')","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Initialize_variable":["Succeeded"]},"expression":{"and":[{"less":["@triggerBody()?['Score']",100]}]},"metadata":{"operationMetadataId":"3c318fef-5215-4c95-a8c7-7031c46229ae"},"type":"If"},"Initialize_variable":{"runAfter":{},"metadata":{"operationMetadataId":"52b5b0ec-d4e0-42cb-bce5-cf9800a51417"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Attachments","type":"array"}]}}},"outputs":{}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"d97afb9718214b70a5baceb0ef36afe2","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline"},"shared_office365":{"connectionName":"shared-office365-f1d6008f-4bc5-4c36-b1aa-d47c8c683d26","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365"}},"flowFailureAlertSubscribed":false,"isManaged":false}}