PowerAutomate/LunchExcessEmail/JSON/FlowDefinition.json
{"name":"447d5f39-820f-4805-b60d-d325f5f24cb4","id":"/providers/Microsoft.Flow/flows/447d5f39-820f-4805-b60d-d325f5f24cb4","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Lunch Excess Automation","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"5f9a690e-f918-4ff5-812d-a0b8201f6b86","type":"User","tenantId":"d181b309-3740-424c-933d-076a442de502"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-02-23T20:43:01.3835756Z","connectionKeySavedTimeKey":"2025-02-23T20:43:01.3835756Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_item_is_created_or_modified":{"recurrence":{"interval":5,"frequency":"Minute"},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"f50e9265-fbda-405c-b795-8ea7f939b021"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnUpdatedItems"},"parameters":{"dataset":"https://hunterwar.sharepoint.com/sites/SharedServices/ssqc","table":"453cef76-4337-469d-9bc5-d86218c689ea"},"authentication":"@parameters('$authentication')"}}},"actions":{"Condition":{"actions":{"Send_an_email_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"71274b9c-df2d-45de-a4ce-f5fbc76d0473"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@triggerOutputs()?['body/Agent_x003a__x0020_Email_x0020_A/Value']","emailMessage/Subject":"Lunch Excess","emailMessage/Body":"<p>Dear @{triggerOutputs()?['body/Agent/Value']},<br>\n<br>\nWe noticed that your recorded lunch break on @{triggerOutputs()?['body/Date']} exceeded the allowed time of 1 hour.<br>\n<br>\n📌 Lunch Duration: @{formatNumber(div(float(triggerOutputs()?['body/Lunch_x0020_Duration']), 1), '0')} hour @{formatNumber(mul(sub(float(triggerOutputs()?['body/Lunch_x0020_Duration']), float(substring(string(triggerOutputs()?['body/Lunch_x0020_Duration']), 0, indexOf(string(triggerOutputs()?['body/Lunch_x0020_Duration']), '.')))), 60), '0')} minute(s)<br>\n📌 Maximum Allowed: 1 hour<br>\n<br>\nPlease ensure that your lunch durations comply with company policies. If you encountered an issue that caused this delay, kindly reply to this email to let us know.<br>\n<br>\nIf you have any questions, feel free to reach out.<br>\n<br>\nBest regards,</p>","emailMessage/From":"mochinchilla@hunterwarfield.com","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Compose":["Succeeded"]},"expression":{"greater":["@float(triggerOutputs()?['body/Lunch_x0020_Duration'])",1.017]},"metadata":{"operationMetadataId":"70d5f40b-c6e1-4e49-9e02-356535d1ba3f"},"type":"If"},"Compose":{"runAfter":{},"metadata":{"operationMetadataId":"719daac2-6214-443f-9342-ca235884c5e9"},"type":"Compose","inputs":"@float(triggerOutputs()?['body/Lunch_x0020_Duration'])"}}},"connectionReferences":{"shared_office365":{"connectionName":"shared-office365-f1d6008f-4bc5-4c36-b1aa-d47c8c683d26","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365"},"shared_sharepointonline":{"connectionName":"d97afb9718214b70a5baceb0ef36afe2","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline"}},"flowFailureAlertSubscribed":false,"isManaged":false}}